.root{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 100vh;
    .incitingText {
        color: deeppink;
        margin-left: 10px;
        cursor: pointer;
    }
}